version: 1.0.0.{build}
skip_tags: true
pull_requests:
  do_not_increment_build_number: true
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "1.0.0.{build}"
  assembly_file_version: "{version}"
image: Visual Studio 2017
before_build:
- cmd: nuget restore WindowsServiceManagerService.sln
build:
  project: WindowsServiceManagerService.sln
  verbosity: minimal
artifacts:
- path: WindowsServiceManagerService.Setup\bin\Debug\
  name: WindowsServiceManagerService v$(appveyor_build_version)
deploy:
- provider: GitHub
  auth_token:
    secure: ugVfDOM0wabDVj0IOUu29PgJPcRrJvjzzrD4PxbhMtAA39V80ev7JXw1g/dv6fHY
  on:
    branch: master