version: 1.0.0.{build}
environment:
  my_secret:
    secure: cCzcfyH7ESZziA53h23oUw==
  dumm_var: hello
  my_variable:
    secure: CFd/VDowa1MGrau5WgOaxtqhJ5XmutVJNno4naZSiUg=
  my_variable_two:
    secure: Bl5GFsxGrX7IypYo60P3bJ7PPvR1kJmBQZLmFPwmoF4=
skip_tags: true
pull_requests:
  do_not_increment_build_number: true
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "1.0.0.{build}"
  assembly_file_version: "{version}"
image: Visual Studio 2017
before_build:
- cmd: nuget restore WindowsServiceManagerService.sln
- cmd: echo %APPVEYOR_BUILD_VERSION%
- cmd: echo my_secret is %my_secret%
- cmd: echo dumm_var is %dumm_var%
- cmd: echo my_variable is %my_variable%
- cmd: echo my_variable_two is %my_variable_two%
build:
  project: WindowsServiceManagerService.sln
  verbosity: minimal
artifacts:
- path: WindowsServiceManagerService.Setup\bin\Debug\
  name: WindowsServiceManagerService v$(appveyor_build_version)
deploy:
- provider: GitHub
  auth_token:
    secure: UZlJS4I1Uhwz3+gT51KJTXF3jLAvdaH8UeS6NyZdxcN/qTQyanLmobxOk+psRlJ9
  on:
    branch: master