version: 1.0.0.{build}
skip_tags: true
pull_requests:
  do_not_increment_build_number: true
assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "1.0.0.{build}"
  assembly_file_version: "{version}"
image: Visual Studio 2017
before_build:
- cmd: nuget restore WindowsServiceManagerService.sln
- cmd: echo %APPVEYOR_BUILD_VERSION%
build:
  project: WindowsServiceManagerService.sln
  verbosity: minimal
artifacts:
- path: WindowsServiceManagerService.Setup\bin\Debug\
  name: WindowsServiceManagerService v$(appveyor_build_version)
deploy:
- provider: GitHub
  auth_token:
    secure: UZlJS4I1Uhwz3+gT51KJTXF3jLAvdaH8UeS6NyZdxcN/qTQyanLmobxOk+psRlJ9
  on:
    branch: master